[Unit]
Description=changegovernor daemon
After=sysinit.target local-fs.target

[Service]
Type=simple
ExecStart=/usr/sbin/changegovernor.py -c /etc/changegovernor.json -l -g
Restart=on-failure
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
